@import url(../css/header.css); 
@import url(../css/promo.css); 
@import url(../css/prengi.css); 
@import url(../css/desicion.css); 
@import url(../css/advantage.css); 
@import url(../css/variant.css); 
@import url(../css/start.css); 
@import url(../css/footer.css); 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    list-style: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.btn {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
    padding: 15px 45px;
    background-color: #00c2f0;
    border-radius: 5px;
    border: none;
}

.title {
    font-size: 30px;
    color: rgb(57, 57, 57);
    line-height: 1.2;
    text-align: center;
}
.title__white {
    color: #ffffff;
    margin: 0 auto;
}

@media (max-width: 1140px) {
    .wrapper {
        max-width: 990px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 980px;
        margin: 0 auto;
        justify-content: space-around;
    }
}

@media (max-width: 669px) {
    
}